.page-title {
    font-family: var(--font-primary);

    &__title {
        color: var(--color-primary);
        font-size: var(--font-size-xl);
        font-weight: 500;
    }

    &__subtitle {
        color: var(--color-neutral);
        font-size: var(--font-size-md);
    }
}

@media(min-width: 1024px) {

    .page-title {

        &__title {
            font-size: var(--font-size-lg);
        }

        &__subtitle {
            font-size: var(--font-size-sm);
        }
    }
}