<section class="initial">
    <div class="initial__banner"></div>
    <div class="initial__fields">
        <img class="initial__logo" src="assets/logo-loupfit.jpeg" alt="logo-loupfit">
        <h1 class="initial__title">
            Bem-vindo ao painel de gestão <strong class="initial__loupfit">LOUPFIT.</strong> Aqui você gerencia, decide
            e cresce.
        </h1>
        <div class="initial__buttons">
            <app-button text="Ir para loja"></app-button>
            <app-button text="Dashboard" variant="primary"  routerLink="/login"></app-button>
        </div>
    </div>
</section>