:host {
    display: block;
    width: 100%;
}

.asset-card {
    font-family: var(--font-primary);
    color: var(--color-neutral);
    background-color: var(--bg-light);
    border-radius: var(--border-radius);
    padding: var(--spacing-3);
    width: 100%;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);

    &__fields {
        display: flex;
    }

    &__field {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__name {
        font-weight: 500;
        font-size: var(--font-size-md);
        color: var(--color-primary);
        margin-bottom: var(--spacing-1);
    }

    &__label {
        display: block;
        font-size: var(--font-size-sm);
    }

    &__text {
        font-size: var(--font-size-md);
        color: var(--color-primary);
    }

    &__description {
        position: absolute;
        top: 0;
        right: -100%;
        height: 75%;
        width: 100%;
        z-index: 2;
        overflow: auto;
        transition: all .65s ease-in-out;

        &--visible {
            right: 0%;
        }
    }

    &__content {
        height: 100%;
        width: 100%;
        background-color: var(--bg-light);
        padding: var(--spacing-3);
        overflow: auto;


        &--text {
            font-size: var(--font-size-md);
            color: var(--color-primary);
        }
    }

    &__action {
        padding: var(--spacing-2);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-8);
    }

    &__createdBy {
        width: fit-content;
        padding: 2.5px 9px;
        border-radius: var(--border-radius);
        background-color: #dcdcdc54;

        &--owner {
            background-color: #ea9fc336;
            color: #D20567;
        }

        &--admin {
            background-color: #99ec9944;
            color: #058805;
        }

        &--editor {
            background-color: #b9b9f559;
            color: #0000ffaa;
        }

        &--viewer {
            background-color: #fbd89459;
            color: rgb(246, 117, 18);
        }
    }

}


@media(min-width: 1024px) {
    .asset-card {
        gap: 0;

        &__label {
            font-size: var(--font-size-xs)
        }

        &__text {
            font-size: var(--font-size-sm);
        }

        &__content {

            &--text {
                font-size: var(--font-size-sm);
            }
        }

        &__icon {
            cursor: pointer;
            user-select: none;
        }

    }
}