.success-msg {
    font-size: var(--font-size-md);
    font-family: var(--font-primary);
    letter-spacing: .5px;
    color: var(--color-success);
    animation: fadeIn .5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media(min-width: 768px) {
    .success-msg {
        font-size: var(--font-size-lg);
    }
}

@media(min-width: 1024px) {
    .success-msg {
        font-size: var(--font-size-md);
    }
}