<section class="list-users">
    <app-section-title sectionTitle="Usuários Cadastrados" sectionText="Lista de todos os usuários registrados no sistema"></app-section-title>
    
    <div *ngIf="usersList.length > 0; else loading" class="list-users__content">
        <app-search-bar (searchValue)="onClick($event)"></app-search-bar>
        <div class="list-users__all-users">
            <ng-container *ngFor="let user of usersListFiltered">
                <app-card-user [user]="user"></app-card-user>
            </ng-container>
        </div>
    </div>
    
    <ng-template #loading>
        <app-spinner></app-spinner>
    </ng-template>
</section>