.form {
    height: fit-content;
    width: 100%;
    font-family: var(--font-primary);
    background-color: var(--bg-form);
    padding: var(--spacing-4);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);

    &__header {
        color: var(--color-neutral);
        letter-spacing: .5px;
    }

    &__title {
        font-weight: 500;
        font-size: var(--font-size-lg);
    }

    &__text {
        font-size: var(--font-size-md);
    }

    &__fields {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-4);
        width: 100%;
    }

    &__column--left,
    &__column--right {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-4);

        width: 100%;

        app-input {
            width: 100%;
        }
    }

    &__permissition-title {
        margin-bottom: var(--spacing-1);
        color: var(--color-neutral);
        font-size: var(--font-size-md);
        letter-spacing: .5px;
        font-weight: 500;
    }

    &__buttons {
        display: flex;
        gap: var(--spacing-4);

        app-button {
            width: 100%;
        }
    }
}

@media(min-width: 768px) {
    .form {
        width: fit-content;
        margin: 0 auto;
        padding: var(--spacing-6);

        &__title {
            font-size: var(--font-size-xl);
        }

        &__text {
            font-size: var(--font-size-lg);
        }

        &__column--left,
        &__column--right {
            flex-direction: row;
            align-items: center;

            app-input {
                width: 100%;
            }
        }

        &__permissition {
            width: 100%;
        }

        &__permissition-title {
            font-size: var(--font-size-md);
        }

        &__buttons {
            align-items: center;
            width: 61.5%;

            app-button {
                width: 61.5%;
            }
        }
    }
}

@media (min-width: 1024px) {
    .form {

        &__title {
            font-size: var(--font-size-lg);
        }

        &__text {
            font-size: var(--font-size-md);
        }

        &__buttons {
            align-items: center;
            width: 61.5%;

            app-button {
                width: 61.5%;
            }
        }
    }
}