.delete-user {
    height: 100%;
    width: 100%;
    padding: var(--spacing-3);
    position: relative;
    font-family: var(--font-primary);

    &__container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-4);
        overflow: hidden;
        transition: filter 1s ease-in-out;

        app-spinner {
            height: 100%;
        }
    }

    &__workspace {
        height: 100%;
        width: 100%;
        background-color: var(--bg-form);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-6);
        padding: var(--spacing-4);
        overflow: hidden;
        border-radius: var(--border-radius);
    }

    &__list {
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-7);
    }

    &__confirm {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        width: 100%;
        background-color: var(--bg-form);
        color: var(--color-neutral);
        border-radius: var(--border-radius);
        padding: var(--spacing-4);
    }

    &__actions {
        display: flex;
        gap: var(--spacing-4);
    }

    &__success {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-4);
    }

    &__details {
        display: flex;
        font-size: var(--font-size-md);
        margin-top: var(--spacing-1);
        margin-bottom: var(--spacing-6);
    }

    &__group {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-4);
        letter-spacing: 1px;
    }

    &__label {
        font-size: var(--font-size-sm);
        font-weight: 500;
    }

    &__success--text {
        font-size: var(--font-size-md);
    }

    &__name {
        font-weight: 500;
        font-size: var(--font-size-md);
    }
}

@media(min-width: 768px) {
    .delete-user {
        padding: var(--spacing-6);

        &__workspace {
            padding: var(--spacing-6);
        }

        app-search-bar {
            width: 60%;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: var(--spacing-5);
        }

        &__content {
            width: 70%;
            padding: var(--spacing-6);
        }

        &__details {
            font-size: var(--font-size-lg);
        }

        &__label {
            font-size: var(--font-size-md);
        }

        &__success--text,
        &__name {
            font-size: var(--font-size-lg);
        }
    }
}

@media(min-width: 1024px) {
    .delete-user {
        app-search-bar {
            width: 50%;
        }

        &__list {
            grid-template-columns: repeat(3, 1fr);
        }

        &__content {
            width: 40%;
            display: flex;
            flex-direction: column;
        }

        &__details {
            font-size: var(--font-size-md);
        }

        &__label {
            font-size: var(--font-size-sm);
        }
    }
}