<section class="delete-user">
    <app-section-title sectionTitle="Excluir usuário" sectionText="Selecione o usuário para excluir do dashboard"></app-section-title>
    <div class="delete-user__workspace" *ngIf="usersList.length > 0; else loading">
        <app-search-bar (searchValue)="onSearch($event)"></app-search-bar>
        <div class="delete-user__list">
            <ng-container *ngFor="let user of usersListFiltered">
                <app-card-user [user]="user" (onClick)="getUserSelected(user)"></app-card-user>
            </ng-container>
        </div>
    </div>
    <ng-template #loading>
        <app-spinner></app-spinner>
    </ng-template>

    <ng-container *ngIf="openModal">
        <app-modal>
            <div class="delete-user__confirm">
                <div class="delete-user__content">
                    <ng-container *ngIf="!confirmed; else success">
                        <app-error-msg *ngIf="errorMsg" [msg]="errorMsg"></app-error-msg>
                        <div class="delete-user__details">
                            <div class="delete-user__group">
                                <div class="delete-user__field">
                                    <p class="delete-user__label">Nome</p>
                                    <p class="delete-user__value">{{user.name}}</p>
                                </div>
                                <div class="delete-user__field">
                                    <p class="delete-user__label">Usuário</p>
                                    <p class="delete-user__value">{{user.username}}</p>
                                </div>
                            </div>
                            <div class="delete-user__group">
                                <div class="delete-user__field">
                                    <p class="delete-user__label">Sobrenome</p>
                                    <p class="delete-user__value">{{user.lastname}}</p>
                                </div>
                                <div class="delete-user__field">
                                    <p class="delete-user__label">Acesso</p>
                                    <p class="delete-user__value">{{user.role | role}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="delete-user__actions">
                            <app-button text="Cancelar" (click)="btnCancel()"></app-button>
                            <app-button text="Excluir" variant="primary" (click)="btnConfirm(user.id)"></app-button>
                        </div>
                    </ng-container>
                    <ng-template #success>
                        <div class="delete-user__success">
                            <p class="delete-user__success--text">Usuário <strong
                                    class="delete-user__name">{{userDelete.name}}</strong> excluído com sucesso</p>
                            <app-button text="Fechar" (click)="btnCloseModal()"></app-button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </app-modal>
    </ng-container>
</section>