<div class="table">
    <div class="table__thead" [style.gridTemplateColumns]="definedColumns(columns)">
        <ng-container *ngFor="let text of columns">
            <p class="table__th">{{text.label}}</p>
        </ng-container>
    </div>

    <div class="table__body">
        <ng-container *ngFor="let user of usersList">
             <div class="table__row" [style.gridTemplateColumns]="definedColumns(columns)" (click)="onClick(user)">
                <ng-container *ngFor="let i of columns">
                    <p class="table__td" [class]="i.key === 'role' ? roleColor(user.role) : ''">
                        {{i.key === "role" ? (user[i.key] | role) : user[i.key]}}
                    </p>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>