<div class="login-input">
    <span class="material-symbols-outlined login-input__icon" [class.login-input__icon--error]="hasError || invalidLogin">
        {{loginInput.icon}}
    </span>
    <input 
        [type]="loginInput.type" 
        [name]="loginInput.name" 
        class="login-input__input" 
        [class.login-input__input--error]="hasError || invalidLogin" 
        [placeholder]="loginInput.placeholder" 
        [formControl]="control" 
        autocomplete="off"
    />  
    <ng-container *ngIf="loginInput.suffix">
        <span class="material-symbols-outlined login-input__suffix" (click)="changeSuffix()">
            {{loginInput.suffix}}
        </span>
    </ng-container>
</div>