<section class="edit-permission">
    <div class="edit-permission__container">
        <app-section-title sectionTitle="Atualizar acesso" sectionText="Selecione o usuário para atualizar o acesso no dashboard"></app-section-title>
        <ng-container *ngIf="usersList.length > 0; else loading">
            <div class="edit-permission__workspace">
                <app-search-bar (searchValue)="onSearch($event)"></app-search-bar>
                <div class="edit-permission__list">
                    <ng-container *ngFor="let user of usersListFiltered">
                        <app-card-user 
                            [user]="user" 
                            [hasButton]="true" 
                            buttonText="Modificar acesso"
                            (onClick)="selectedUser(user)"
                        ></app-card-user>
                    </ng-container>
                </div>
            </div>
        </ng-container>
        <ng-template #loading>
            <app-spinner></app-spinner>
        </ng-template>
    </div>
    <app-modal *ngIf="formOpen">
        <app-form-edit-user [formTitle]="formHeader.title" [formText]="formHeader.text" [formMode]="FormMode.PERMISSION" [user]="user" (closeForm)="closeForm($event)"></app-form-edit-user>
    </app-modal>
</section>