<section class="overview">
   <app-section-title sectionTitle="Visão geral"></app-section-title>
   <div class="overview__cards">
        <div class=overview__card>
            <app-overview-card [cardInfo]="customersCard"></app-overview-card>
        </div>
        <div class=overview__card>
            <app-overview-card [cardInfo]="usersCard"></app-overview-card>
        </div>
        <div class=overview__card>
            <app-overview-card [cardInfo]="productsCard"></app-overview-card>
        </div>
        <div class=overview__card>
            <app-overview-card [cardInfo]="ordersCard"></app-overview-card>
        </div>
        <div class=overview__card>
            <app-overview-card [cardInfo]="invoicingCard"></app-overview-card>
        </div>
        <div class=overview__card>
            <app-overview-card [cardInfo]="lowStockCard"></app-overview-card>
        </div>
   </div>
</section>