<section class="new-asset">
   <app-section-title sectionTitle="Novo Equipamento" sectionText="Complete as informações abaixo para adicionar um novo equipamento"></app-section-title>
   <form [formGroup]="form" class="new-asset__form" (ngSubmit)="onSubmit()">
        <app-error-msg *ngIf="error" [msg]="error"></app-error-msg>
        <app-success-msg *ngIf="success" [msg]="success"></app-success-msg>
        <div class="new-asset__fields">
            <div class="new-asset__left">
                <app-input [input]="inputs.name" [control]="name" [error]="isInvalid(name)"></app-input>
                <app-input [input]="inputs.description" [control]="descriptiion" [error]="isInvalid(descriptiion)"></app-input>
                <app-input [input]="inputs.quantity" [control]="quantity" [error]="isInvalid(quantity)"></app-input>
            </div>
            <div class="new-asset__right">
                <app-input [input]="inputs.costValue" [control]="costValue" [error]="isInvalid(costValue)" mask="separator.2" prefix="R$ " thousandSeparator="." decimalMarker=","></app-input>
                <app-input [input]="inputs.placePurchase" [control]="placePurchase" [error]="isInvalid(placePurchase)"></app-input>
            </div>
        </div>
        <div class="new-asset__actions">
            <app-button text="Voltar" type="button" (click)="btnBackPage()"></app-button>
            <app-button text="Salvar" variant="primary" type="submit"></app-button>
        </div>
   </form>
</section>