<section class="assets" *ngIf="loadingPage; else loading">

   <app-page-title title="Gestão de equipamentos" subtitle="Gerencie as ações dos equipamentos"></app-page-title>

   <app-button-icon icon="add" text="Novo equipamento" (click)="openNewModal()"></app-button-icon>

   <ng-container *ngIf="listAssets.length > 0; else notFound">
      <app-search-filtered [listUsernames]="listUsernames" (onFilter)="onFilter($event)" (removerFilter)="getAllAssets()"></app-search-filtered>

      <app-assets-list [assetsList]="listAssets" (onAction)="onAction($event)"></app-assets-list>
   </ng-container>

   <app-modal *ngIf="newModal">
      <app-new-asset (closeForm)="closeModal()" (sentForm)="onSuccess()"></app-new-asset>
   </app-modal>

   <app-modal *ngIf="editModal">
      <app-edit-asset [asset]="asset" (closeForm)="closeModal()" (sentForm)="onSuccess()"></app-edit-asset>
   </app-modal>

   <app-modal *ngIf="deleteModal">
      <app-delete-asset [asset]="asset" (closeModal)="closeModal()" (sentConfirmation)="onSuccess()"></app-delete-asset>
   </app-modal>

   <ng-template #notFound>
      <div class="assets__notFound">
         Nenhum equipamento encontrado
      </div>
   </ng-template>
</section>

<ng-template #loading>
   <app-spinner></app-spinner>
</ng-template>