.ui-button {
    font-size: var(--font-size-md);
    font-weight: 500;
    font-family: var(--font-primary);

    border: none;
    border: 1px solid transparent;

    padding: var(--spacing-2);

    background-color: transparent;

    display: flex;
    align-items: center;
    gap: var(--spacing-1);



    &__icon {
        font-size: var(--font-size-lg);
        font-weight: 600;
    }

    &--login {
        background-color: var(--bg-accent);
        color: var(--color-secondary);

        border-color: var(--bg-accent);
        box-shadow: 5px 6px 10px 0px var(--shadow-primary);
    }

    &--store {
        background-color: var(--bg-primary);
        color: var(--color-secondary);

        box-shadow: 5px 6px 10px 0px var(--shadow-primary);
        border-color: var(--color-primary);

    }
}

@media (min-width: 768px) {
    .ui-button {
        font-size: var(--font-size-md);
        font-weight: 500;
        letter-spacing: 1px;

        padding: var(--spacing-2);

        &__icon {
            font-size: var(--font-size-lg);
        }
    }
}

@media (min-width: 1024px) {
    .ui-button {
        padding: var(--spacing-2);

        font-size: var(--font-size-sm);

        cursor: pointer;

        transition: all .25s;

        &__icon {
            font-size: var(--font-size-lg);
        }

        &--login {

            &:hover {
                background-color: var(--bg-hover-accent);
                transform: scale(1.1);
            }
        }

        &--store {

            &:hover {
                background-color: var(--bg-hover-primary);
                transform: scale(1.1);
            }
        }
    }
}

@media (min-width: 1440px) {
    .ui-button {
        padding: var(--spacing-2);

        font-size: var(--font-size-sm);

        cursor: pointer;

        &__icon {
            font-size: var(--font-size-lg);
        }
    }
}