.table {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);
    font-family: var(--font-primary);
    color: var(--color-neutral);

    &__thead {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 20px;
        position: sticky;
        top: -2px;
        left: 0;
        z-index: 1;
        background-color: var(--bg-form);
        padding: var(--spacing-3) 0;
        border-bottom: 1px solid var(--bg-hr);
    }

    &__row {
        display: grid;
        align-items: center;
        grid-template-columns: 25px 1fr 1fr;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-4);
    }

    &__circle {
        height: 8px;
        width: 8px;
        background-color: var(--bg-accent);
        border-radius: 50%;
    }

    &__th {
        font-weight: 500;

        &:first-child {
            padding-left: 25px;
        }
    }

    &__th,
    &__td {
        font-size: var(--font-size-md);
        letter-spacing: 1px;
    }
}

@media(min-width: 768px) {
    .table {
        
        &__thead {
            padding-left: 20px;
        }

        &__row {
            grid-template-columns: 35px 1fr 1fr;
        }

        &__th {
            
            &:first-child {
                padding-left: 15px;
            }
        }

        &__th,
        &__td {
            font-size: var(--font-size-lg);
        }


    }
}

@media(min-width: 1024px) {
    .table {

        &__body {
            gap: var(--spacing-3);
        }

        &__row {
            padding: 3px 10px;
            border-radius: var(--border-radius);
            transition: background-color .2s ease-in-out;

            &:hover {
                cursor: pointer;
                background-color: var(--bg-hover-neutral);
            }
        }

        &__th,
        &__td {
            font-size: var(--font-size-md);
        }

    }
}