:host {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-asset {

    width: 100%;
    font-family: var(--font-primary);
    background-color: var(--bg-light);
    padding: var(--spacing-3);
    border-radius: var(--border-radius);

    &__title {
        color: var(--color-primary);
        font-size: var(--font-size-lg);
        font-weight: 500;
        margin-bottom: var(--spacing-2);
    }

    &__form,
    &__fields,
    &__form--left,
    &__form--right {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2);
    }

    &__fields {
        margin-bottom: var(--spacing-4);
    }

    &__action {
        display: flex;
        gap: var(--spacing-3);

        app-button {
            width: 100%;
        }

    }
}


@media(min-width: 760px) {

    .edit-asset {
        max-width: 600px;

        &__fields {
            width: 100%;
            flex-direction: row;
            gap: var(--spacing-3);
            margin-bottom: var(--spacing-3);
        }

        &__form--left,
        &__form--right {
            width: 100%;
            gap: var(--spacing-3);

            app-input {
                width: 100%;
            }
        }

        &__action {
            width: 50%;
        }
    }

}


@media(min-width: 1024px) {

    .edit-asset {
        width: 500px;

        &__title {
            font-size: var(--font-size-md);
        }

        &__text {
            font-size: var(--font-size-sm);
        }

        &__action {
            width: 40%;
        }
    }

}