<div class="card-user" (click)="onSelectUser()">
    <div class="card-user__content">
        <div class="card-user__header">
            <p class="card-user__abbreviation" [class]="roleColor(user.role)">{{abbreviationName(user)}}</p>
            <div>
                <h2 class="card-user__fullname">{{user.name}} {{user.lastname}}</h2>
                <p class="card-user__username">{{user.username}}</p>
            </div>
        </div>
        <div class="card-user__access" [class]="roleColor(user.role)">
            <span class="material-symbols-outlined card-user__role--icon">
                {{roleIcon(user.role)}}
            </span>
            <p class="card-user__role">{{user.role | role}}</p>
        </div>
    </div>
    <div class="card-user__action">
        <app-action-user icon="edit_square" (click)="onAction($event, 'edit')"></app-action-user>
        <app-action-user icon="shield" (click)="onAction($event, 'permission')"></app-action-user>
        <app-action-user icon="alternate_email" (click)="onAction($event, 'username')"></app-action-user>
        <app-action-user icon="delete"  (click)="onAction($event, 'delete')"></app-action-user>
    </div>
</div>