:root {
    /* Colors */
    --color-primary: #3b3b3b;
    --color-secondary: #ebebeb;
    --color-accent: #D20567;
    --color-error: #FF0033;
    --color-success: #05a530;
    --color-neutral: #7c7c7c;
    --color-section-title: #676767;

    /* Backgrounds */
    --bg-primary: #000000;
    --bg-secondary: #ebebeb;
    --bg-accent: #D20567;
    --bg-hover-primary: #353535ef;
    --bg-hover-accent: #f0107cbc;
    --bg-overlay: #00000040;
    --bg-neutral: #7c7c7c;
    --bg-form: #ffffff;
    --bg-hover-neutral: #b0b0b046;
    --bg-hr: #b0b0b093;

    /* Shadow color */
    --shadow-primary: #2424247e;
}