:root {
    /* Colors */
    --color-primary: #000000;
    --color-secondary: #ebebeb;
    --color-accent: #D20567;

    /* Backgrounds */
    --bg-primary: #000000;
    --bg-secondary: #ebebeb;
    --bg-accent: #D20567;
    --bg-hover-primary: #353535ef;
    --bg-hover-accent: #f0107cbc;


    /* Shadow color */
    --shadow-primary: #2424247e;
}