<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-section-title sectionTitle="Novo usuário" sectionText="Complete as informações abaixo para adicionar um novo usuário."></app-section-title>

    <app-error-msg *ngIf="error.hasError" [msg]="error.msg"></app-error-msg>
    <app-success-msg *ngIf="success && !error.hasError"  msg="Usuário cadastrado com sucesso"></app-success-msg>
    <div class="form__fields">
        <div class="form__column--left">
            <app-input [input]="nameInput" [control]="name" [error]="name.hasError('required') && name.touched"></app-input>
            <app-input [input]="lastnameInput" [control]="lastname" [error]="lastname.hasError('required') && lastname.touched"></app-input>
        </div>
        <div class="form__column--left">
            <app-input [input]="usernameInput" [control]="username" [error]="username.hasError('required') && username.touched"></app-input>
            <app-input [input]="passwordInput" [control]="password" [error]="password.hasError('required') && password.touched"></app-input>
        </div>
        <div class="form__permissition">
            <p class="form__permissition-title">Permissão</p>
            <app-select [optionsList]="roleList" [control]="role" [error]="role.hasError('required') && role.touched"></app-select>
        </div>
    </div>
    <div class="form__buttons">
        <app-button text="Cancelar" (click)="cancel.emit()"></app-button>
        <app-button text="Salvar" variant="primary"></app-button>
    </div>
</form>