.section {
    color: var(--color-neutral);
    font-family: var(--font-primary);


    &__subtitle {
        font-size: var(--font-size-lg);
        letter-spacing: .5px;
        font-weight: 500;
        width: fit-content;
        margin-bottom: var(--spacing-1);

    }

    &__text {
        font-size: var(--font-size-md);
        margin-bottom: var(--spacing-5);

    }

    &__line {
        height: .1px;
        width: 100%;
        background-color: var(--bg-neutral);
    }
}

@media(min-width: 768px) {
    .section {

        &__text {
            font-weight: 400;
            font-size: var(--font-size-md);
        }
    }
}

@media(min-width: 1024px) {
     .section {

        &__subtitle {
            font-size: var(--font-size-lg);
        }

        &__text {
            font-size: var(--font-size-sm);
        }
    }
}