:host {
    height: 24px;
}

.icon {
    color: var(--color-primary);
    font-size: var(--font-size-xl);
    user-select: none;

    &:active {
        transform: scale(0.9);
    }
}


@media(min-width: 1024px) {
    .icon {
        cursor: pointer;
        font-size: var(--font-size-lg);

        padding: var(--spacing-2);
        border-radius: var(--border-radius);
        transition: background-color .2s ease-in-out;

        &:hover {
            background-color: var(--bg-hover-neutral);
        }
    }
}