.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--bg-accent);
    padding: var(--spacing-3);

    &__logo {
        width: 60px;
    }

    &__icon {
        display: block;
        font-size: var(--font-size-2xl);
        color: var(--color-secondary);
    }
}


@media (min-width: 1024px) {
    .header {
        display: none;
    }
}